<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1>welcome to Match</h1>
      <p>ようこそ、matchへ！</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <p>Log_in</p>
        </div>
        <div class="row">
          <p>Sign_up</p>
        </div>
      </div>
    </div>
  </div>
</div>